@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container {
    display: flex;

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.static {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;

}

.dynamic {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic li {
    list-style: none;
    color: #6dac32;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -410px;
    }
}

.dynamic li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #002b36;
    border-left: 5px solid #6dac32;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}